

body {
  background-color: #89023e;
}

.display {
  display: block;
  height: 30px;
  margin-left: 420px;
  margin-right: auto;
  border: 3px, #cc7178;
}

.screen {
  height: 40px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keys {
  display: grid;
  margin: auto;
  width: 50%;
  border: 3px black;
  padding-left: 20px;
  padding: 10px;
}

.button {
  background-color: #C7D9B7; 
  border: 3px solid green;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.keys li {
  padding: 10px;
  display: inline;
}
