

body {
  background-color: #89023e;
}

table {
  padding-bottom: 15px;
}

.display {
  display: block;
  height: 35px;
  margin-left: 420px;
  margin-right: auto;
  border: 3px, #cc7178;
}

.screen {
  height: 45px;
  
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keys {
  display: grid;
  background-color: #f3e1dd;
  padding-left: 70px;
  margin: auto;
  width: 60%;
}

.button {
  background-color: #C7D9B7; 
  border: 3px solid green;
  border-radius: 20px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.keys li {
  padding: 10px;
  display: inline;
}
